@import "bourbon";
@import "neat";

body.books.index main {
  @include outer-container;

  h2 {
    @include outer-container;

    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  div.book-main-content {
    @include span-columns(9);


    table, tr, td {
      border: 1px solid black;

      tr, td {
        padding: 10px;
      }
    }
  }

  div.sidebar {
    @include span-columns(3);

    ul li {
      font-style: italic;
      list-style: none;
      padding: 5px 0;
    }
  }
}
