<h1>
  Welcome to Long Distance Library
</h1>

<%= @book.title %>
<%= @book.series %>
<% @book.genres.each do |genre| %>
  <%= genre.name %>
<% end %>
<% @book.formats.each do |format| %>
  <%= format.name %>
<% end %>
